.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard--expanded {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}